<nav class="navbar navbar-light bg-light">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink='/agent'>Početna</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/agent/manageRealEstate'>Upravljaj nekretninama</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink='/agent/manageRealEstate/myRealEstate'>Nekretnine agencije</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/agent/addRealEstate'>Dodaj nekretninu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/agent/update'>Moj nalog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/inbox'>Poruke</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)='logOut()' routerLink=''>Odjavi se</a>
    </li>
  </ul>
</nav>

<div class="container">
  <h1>Nekretnine u vlasništvu agencije</h1>
    <table class="card" *ngFor='let re of my_real_estate'>
      <tr>
        <img src='{{re.gallery[0]}}' height='200'>
      </tr>

      <tr style='font-weight: bold; font-size: 20px; color:rgb(68, 162, 224)'>
        <td>{{re.name}}</td>
      </tr>

      <tr *ngIf='re.sold'>
        <td style='font-weight: bold; color:red'>PRODATO</td>
      </tr>

      <tr>
        <td>{{re.address}}, {{re.municipality}}, {{re.city}}</td>
      </tr>

      <tr>
        <td *ngIf='re.sale==0'>Izdavanje</td>
        <td *ngIf='re.sale==1'>Prodaja</td>
      </tr>

      <tr>
        <td *ngIf='re.type==0'>Tip: Kuća</td>
        <td *ngIf='re.type==1'>Tip: Stan</td>
      </tr>

      <tr>
        <td *ngIf='re.sale==0'>Cena mesečnog najma: {{re.price}} €</td>
        <td *ngIf='re.sale==1'>Cena: {{re.price}} €</td>
      </tr>

      <tr>
        <td>
          <button (click)='openPage(re)'>Pregledaj nekretninu</button>
          <button (click)='updateRealEstate(re)'>Uredi nekretninu</button>
          <button (click)='deleteRealEstate(re)'>Ukloni nekretninu</button>
        </td>
      </tr>

    </table>
</div>