<!--------------------------------DODAVANJE KORISNIKA-------------------------------->

<table>
    <th><h1>Dodaj novog korisnika</h1></th>
    <tr>
        <td>Odaberite kategoriju:</td>
        <td>
            <select name='type' [(ngModel)]='type'>
                <option value="1">Korisnik</option>
                <option value="2">Agent</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Ime:</td>
        <td>
            <input type='text' name='name' [(ngModel)]='name'>
        </td>
    </tr>
    <tr>
        <td>Prezime:</td>
        <td>
            <input type='text' name='surname' [(ngModel)]='surname'>
        </td>
    </tr>
    <tr>
        <td>Korisničko ime:</td>
        <td>
            <input type='text' name='username' [(ngModel)]='username'>
        </td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td>
            <input type='password' name='password' [(ngModel)]='password'>
        </td>
    </tr>
    <tr>
        <td>Potvrdite lozinku:</td>
        <td>
            <input type='password' name='password_2' [(ngModel)]='password_2'>
        </td>
    </tr>
    <tr>
        <td>Profilna slika:</td> 
        <td>
            <input type='file' name='avatar' accept='image/*' (change)='onFileSelectedAvatar($event)' [(ngModel)]='avatar'>
        </td>
    </tr>
    <tr>
        <td>E-mail adresa:</td>
        <td>
            <input type='text' name='mail' [(ngModel)]='mail'>
        </td>
    </tr>
    <tr>
        <td>Mesto stanovanja:</td>
        <td>
            <input type='text' name='city' [(ngModel)]='city'>
        </td>
    </tr>
    <tr>
        <td>Država:</td>
        <td>
            <input type='text' name='country' [(ngModel)]='country'>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)='addUser()'>Dodaj korisnika</button>
        </td>
    </tr>
</table>


<!--------------------------------DODAVANJE NEKRETNINA-------------------------------->


<table>

    <th><h1>Dodaj novu nekretninu</h1></th>

    <tr>
        <td>Vlasnik:</td>
        <select name='user' [(ngModel)]='new_re.owner'>
            <option value='Agencija'>Agencija</option>
            <option value='{{u.username}}' *ngFor='let u of users'>{{u.username}}</option>
        </select>
    </tr>

    <tr>
        <td>Izdavanje ili prodaja:</td>
        <td>
            <select name='sale' [(ngModel)]='new_re.sale'>
                <option value="0">Izdavanje</option>
                <option value="1">Prodaja</option>
            </select>
        </td>
    </tr>

    <tr>
        <td>Opis nekretnine:</td>
        <td>
            <input type='text' name='name' [(ngModel)]='new_re.name'>
        </td>
    </tr>

    <tr>
        <td>Adresa:</td>
        <td>
            <input type='text' name='address' [(ngModel)]='new_re.address'>
        </td>
    </tr>

    <tr>
        <td>Grad:</td>
        <td>
            <input type='text' name='city' [(ngModel)]='new_re.city'>
        </td>
    </tr>

    <tr>
        <td>Opština:</td>
        <td>
            <input type='text' name='municipality' [(ngModel)]='new_re.municipality'>
        </td>
    </tr>

    <tr>
        <td>Tip:</td>
        <td>
            <select name='type' [(ngModel)]='new_re.type'>
                <option value="0">Kuća</option>
                <option value="1">Stan</option>
            </select>
        </td>
    </tr>

    <tr *ngIf='new_re.type'>
        <td *ngIf='new_re.type==0'>Broj spratova:</td>
        <td *ngIf='new_re.type==1'>Broj spratova zgrade:</td>
        <td>
            <input type='number' name='height' [(ngModel)]='new_re.height'>
        </td>
    </tr>

    <tr *ngIf='new_re.type==1'>
        <td>Sprat:</td>
        <td>
            <input type='number' name='floor' [(ngModel)]='new_re.floor'>
        </td>
    </tr>

    <tr>
        <td>Kvadratura:</td>
        <td>
            <input type='number' name='squaremeters' [(ngModel)]='new_re.squaremeters'>
        </td>
    </tr>

    <tr>
        <td>Broj soba:</td>
        <td>
            <input type='number' name='rooms' [(ngModel)]='new_re.rooms'>
        </td>
        <td>Garsonjera => 0 </td>
    </tr>

    <tr>
        <td>Nameštaj:</td>
        <td>
            <select name='furnished' [(ngModel)]='new_re.furnished'>
                <option value="true">Da</option>
                <option value="false">Ne</option>
            </select>
        </td>
    </tr>

    <tr *ngIf='new_re.sale!=null'>
        <td *ngIf='new_re.sale==0'>Cena mesečnog najma:</td>
        <td *ngIf='new_re.sale==1'>Cena:</td>
        <input type='number' name='price' [(ngModel)]='new_re.price'>
    </tr>

    <tr>
        <td>Fotografija/video:</td> 
        <td>
            <input type='file' name='gallery' accept='image/*, video/*' (change)='onFileSelectedGallery($event)'>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <button (click)='addRealEstate()'>Dodaj nekretninu</button>
        </td>
    </tr>

</table>