<nav class="navbar navbar-light bg-light">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink=''>Prijavi se</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/register'>Registracija</a>
        </li>
    </ul>
</nav>

<div class="container">
    <!-----------------------------PROMOVISANE NEKRETNINE----------------------------->
    <div style="padding:25px; background-color:rgb(224, 240, 245)">
        <h1>Za vas smo izdvojili</h1>
        <div class="row">
            <div class="col-sm-3" *ngFor='let re of promo'>
                    <img src='{{re.gallery[0]}}' height='200px'>
                    <br>
                    <h3>{{re.name}}</h3>
            </div>
        </div>
    </div>


    <!--------------------------------UNOŠENJE FILTERA-------------------------------->
    <h1>Pretraži nekretnine:</h1>
    <form>
        <tr>
            <td>Grad:</td>
            <td><input type='text' name='city' [(ngModel)]='searchCity'></td>
        </tr>

        <tr>
            <td>Opseg cena:</td>
            <td><input type='number' name='min' placeholder='Minimalna cena' [(ngModel)]='minPrice'></td>
            <td><input type='number' name='max' placeholder='Maksimalna cena' [(ngModel)]='maxPrice'></td>
        </tr>

        <tr>
            <td>
                <button (click)='search()'>Pretraži</button>
            </td>
        </tr>
    </form>

    <!-------------------------------REZULTATI PRETRAGE------------------------------->

    <h1>Pronađene nekretnine</h1>
    <div *ngIf='applyCityFilter || applyMaxPriceFilter || applyMinPriceFilter'>
        <ng-container *ngFor='let re of real_estate'>
            <ng-container *ngIf='(applyCityFilter && re.city == findCity) || !applyCityFilter'>
                <ng-container *ngIf='(applyMinPriceFilter && re.price >= findMinPrice) || !applyMinPriceFilter'>
                    <table *ngIf='(applyMaxPriceFilter && findMaxPrice >= re.price) || !applyMaxPriceFilter'
                        class="card">

                        <tr>
                            <img src='{{re.gallery[0]}}' height='200px'>
                        </tr>
                        <tr style='font-weight: bold; font-size: 20px; color:rgb(68, 162, 224)'>
                            <td>{{re.name}}</td>
                        </tr>

                        <tr>
                            <td>{{re.address}}, {{re.municipality}}, {{re.city}}</td>
                        </tr>

                        <tr>
                            <td *ngIf='re.sale==0'>Izdavanje</td>
                            <td *ngIf='re.sale==1'>Prodaja</td>
                        </tr>

                        <tr>
                            <td>Tip:</td>
                            <td *ngIf='re.type==0'>Kuća</td>
                            <td *ngIf='re.type==1'>Stan</td>
                        </tr>

                        <tr>
                            <td>Kvadratura:</td>
                            <td>{{re.squaremeters}} m2</td>
                        </tr>

                        <tr>
                            <td>Broj soba:</td>
                            <td *ngIf='re.rooms==0'>Garsonjera</td>
                            <td *ngIf='re.rooms>0'>{{re.rooms}}</td>
                        </tr>

                        <tr>
                            <td *ngIf='re.sale==0'>Cena mesečnog najma:</td>
                            <td *ngIf='re.sale==1'>Cena:</td>
                            <td>{{re.price}} €</td>
                        </tr>
                        <br><br><br>
                    </table>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>