<table>
    <tr *ngIf='real_estate.sale==0'>
        <td>Početni datum:</td>
        <td>
            <select type='number' name='day1' [(ngModel)]='day1'>
                <option *ngFor='let d of days' value='{{d}}'>{{d}}</option>
            </select>
        </td>
        <td>
            <select type='number' name='month1' [(ngModel)]='month1'>
                <option *ngFor='let m of months' value='{{m}}'>{{m}}</option>
            </select>
        </td>
        <td>
            <select type='number' name='year1' [(ngModel)]='year1'>
                <option *ngFor='let y of years' value='{{y}}'>{{y}}</option>
            </select>
        </td>

        <td>Krajnji datum:</td>
        <td>
            <select type='number' name='day2' [(ngModel)]='day2'>
                <option *ngFor='let d of days' value='{{d}}'>{{d}}</option>
            </select>
        </td>
        <td>
            <select type='number' name='month2' [(ngModel)]='month2'>
                <option *ngFor='let m of months' value='{{m}}'>{{m}}</option>
            </select>
        </td>
        <td>
            <select type='number' name='year2' [(ngModel)]='year2'>
                <option *ngFor='let y of years' value='{{y}}'>{{y}}</option>
            </select>
        </td>
        <td><button (click)='checkDate()'>Proveri dostupnost</button></td>
        <td><span style='color:darkmagenta'>{{message}}</span></td>
        <td *ngIf='free && user.type == 1 && user.username != real_estate.owner'>
            <button (click)='reserve()'>Zatraži rezervaciju</button>
        </td>
    </tr>
</table>

<table>

    <tr>
        <td>{{real_estate.name}}</td>
    </tr>

    <tr>
        <td>{{real_estate.address}}, {{real_estate.municipality}}, {{real_estate.city}}</td>
    </tr>

    <tr>
        <td *ngIf='real_estate.sale==0'>Izdavanje</td>
        <td *ngIf='real_estate.sale==1'>Prodaja</td>
    </tr>

    <tr>
        <td>Tip:</td>
        <td *ngIf='real_estate.type==0'>Kuća</td>
        <td *ngIf='real_estate.type==1'>Stan</td>
    </tr>

    <tr>
        <td *ngIf='real_estate.type==0'>Broj spratova:</td>
        <td *ngIf='real_estate.type==1'>Broj spratova zgrade:</td>
        <td>{{real_estate.height}}</td>
    </tr>

    <tr *ngIf='real_estate.type==1'>
        <td>Sprat:</td>
        <td>{{real_estate.floor}}</td>
    </tr>

    <tr>
        <td>Kvadratura:</td>
        <td>{{real_estate.squaremeters}} m2</td>
    </tr>

    <tr>
        <td>Broj soba:</td>
        <td *ngIf='real_estate.rooms==0'>Garsonjera</td>
        <td *ngIf='real_estate.rooms>0'>{{real_estate.rooms}}</td>
    </tr>

    <tr>
        <td>Namešten:</td>
        <td *ngIf='real_estate.furnished'>Da</td>
        <td *ngIf='!real_estate.furnished'>Ne</td>
    </tr>

    <tr>
        <td *ngIf='real_estate.sale==0'>Cena mesečnog najma:</td>
        <td *ngIf='real_estate.sale==1'>Cena:</td>
        <td>{{real_estate.price}} €</td>
    </tr>

    <tr>
        <td>Vlasnik:</td>
        <td>{{real_estate.owner}}</td>
        <td *ngIf='(real_estate.owner != user.username && user.type == 1) ||
            (user.type == 2 && real_estate.owner != "Agencija")'>
            <button routerLink='/composeMessage'>Kontaktiraj vlasnika</button>
        </td>
    </tr>

    <tr *ngIf='real_estate.owner == user.username || real_estate.owner == "Agencija" && user.type == 2'>
        <td><button routerLink='/user/updateRealEstate'>Uredi nekretninu</button></td>
    </tr>

</table>