<form>
    <th *ngIf='real_estate==null'>Kreiraj novu poruku</th>
    <th *ngIf='real_estate!=null'>Poruka za vlasnika nekretnine {{real_estate.name}}</th>
    
    <tr *ngIf='real_estate==null'>
        <td>Primalac:</td>
        <td><input type='text' name='to' [(ngModel)]='to'></td>
    </tr>

    <tr *ngIf='real_estate==null'>
        <td>Naslov:</td>
        <td><input type='text' name='subject' [(ngModel)]='subject'></td>
    </tr>

    <tr *ngIf='block == null'>
        <td>Poruka:</td>
        <td><textarea name='content' [(ngModel)]='content'></textarea></td>
    </tr>

    <tr *ngIf='block == null'>
        <td colspan='2'>
            <button (click)='send()'>Pošalji</button>
        </td>
    </tr>

</form>

<div *ngIf='block != null && block.blocker == user.username'>
    <p>Nije moguće kontaktirati vlasnika zato što ste blokirali korisnika.</p>
    <button (click)='unblockUser()'>Odblokiraj korisnika</button>
</div>

<p *ngIf='block != null && block.blocked == user.username'>Nije moguće kontaktirati vlasnika zato što Vas je korisnik
    blokirao.</p>
