<nav class="navbar navbar-light bg-light">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink='/agent'>Početna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/agent/manageRealEstate'>Upravljaj nekretninama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/agent/manageRealEstate/myRealEstate'>Nekretnine agencije</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/agent/addRealEstate'>Dodaj nekretninu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink='/agent/update'>Moj nalog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/inbox'>Poruke</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)='logOut()' routerLink=''>Odjavi se</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">

        <!--------------------------------AŽURIRANJE PODATAKA-------------------------------->
        <div class="col-sm-6">
            <h1>Ažuriranje podataka korisnika {{user.username}}</h1>
            <form>
                <tr>
                    <td>Ime:</td>
                    <td>
                        <input type='text' name='name' value='{{user.name}}' [(ngModel)]='user.name'>
                    </td>
                </tr>
                <tr>
                    <td>Prezime:</td>
                    <td>
                        <input type='text' name='surname' value='{{user.surname}}' [(ngModel)]='user.surname'>
                    </td>
                </tr>
                <tr>
                    <td>Profilna slika:</td>
                    <td><img src='{{user.avatar}}' height='100'></td>
                    <td>
                        <input type='file' name='avatar' accept='image/*' (change)='onFileSelected($event)'>
                    </td>
                </tr>
                <tr>
                    <td>E-mail adresa:</td>
                    <td>
                        <input type='text' name='mail' value='{{user.mail}}' [(ngModel)]='user.mail'>
                    </td>
                </tr>
                <tr>
                    <td>Mesto stanovanja:</td>
                    <td>
                        <input type='text' name='city' value='{{user.city}}' [(ngModel)]='user.city'>
                    </td>
                </tr>
                <tr>
                    <td>Država:</td>
                    <td>
                        <input type='text' name='country' value='{{user.country}}' [(ngModel)]='user.country'>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button (click)='updateUser()'>Ažuriraj podatke</button>
                    </td>
                </tr>
            </form>
        </div>

        <!--------------------------------PROMENA LOZINKE-------------------------------->
        <div class="col-sm-6">
            <h1>Postavljanje nove lozinke</h1>
            <form>
                <tr>
                    <td>Stara lozinka:</td>
                    <td>
                        <input type='password' name='oldpassword' [(ngModel)]='old_password'>
                    </td>
                </tr>

                <tr>
                    <td>Nova lozinka:</td>
                    <td>
                        <input type='password' name='newpassword' [(ngModel)]='new_password'>
                    </td>
                </tr>

                <tr>
                    <td>Potvrdite lozinku:</td>
                    <td>
                        <input type='password' name='password' [(ngModel)]='new_password_2'>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button (click)='changePassword()'>Promeni lozinku</button>
                    </td>
                </tr>

            </form>
        </div>

    </div>
</div>