<div *ngIf='user.type == 0'>
    <nav class="navbar navbar-light bg-light">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" routerLink='/admin'>Početna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/admin/requests'>Pregledaj zahteve</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/admin/update'>Upravljaj korisnicima</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/admin/add'>Dodaj korisnika ili nekretninu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)='logOut()' routerLink=''>Odjavi se</a>
          </li>
        </ul>
      </nav>
</div>

<div *ngIf='user.type == 1'>
    <nav class="navbar navbar-light bg-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink='/user'>Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/user/myRealEstate'>Moje nekretnine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/user/addRealEstate'>Dodaj nekretninu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/user/update'>Moj nalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/inbox'>Poruke</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)='logOut()' routerLink=''>Odjavi se</a>
            </li>
        </ul>
    </nav>
</div>

<div *ngIf='user.type == 2'>
    <nav class="navbar navbar-light bg-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink='/agent'>Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/agent/manageRealEstate'>Upravljaj nekretninama</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/agent/manageRealEstate/myRealEstate'>Nekretnine agencije</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/agent/addRealEstate'>Dodaj nekretninu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/agent/update'>Moj nalog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/inbox'>Poruke</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)='logOut()' routerLink=''>Odjavi se</a>
            </li>
        </ul>
    </nav>
</div>

<h1>404 Page Not Found</h1>

